coverage
docs
examples
scripts
src
web

*.md
*.svg
.babelrc.json
.eslintignore
.eslintrc.json
.github
.husky/pre-commit
.prettierignore
.prettierrc.json
CODEOWNERS
esbuild.mjs
jest.*
package.lint.json
tsconfig.json
yarn-error.log